@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

body {
  background-color: #f8fafc;
  /* slate-50 */
  color: #0f172a;
  /* slate-900 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}